{% extends "base_layout.html" %}
{% load static %}
{% block title %}Create article{% endblock title %}
{% block content %}
    <div style="display: flex; ;justify-content: center">
        <div class="test col-lg-7 mb-5" style="display: flex;flex-direction: column;align-items: center;">
            <h1>Create article</h1>
            <form class="form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button class="logout-button" type="submit">Create article</button>
            </form>
        </div>
    </div>
{% endblock content %}